@
viewport {
	width: device-width;
	zoom: 1.0;
}

@
-ms-viewport {
	width: device-width;
}

body {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	font-family: verdana;
	font-size: 13px;
	background-color: #2F4558;
}

input[type=text], input[type=submit], input[type=reset], input[type=number], input[type=password],
	textarea, select, option {
	background-color: #222B2A;
	color: #23DF36;
	padding: 4px;
	resize: none;

}

.floating-box-container {
	text-align: left;
}

.floating-box {
	display: inline-block;
	width: 230px;
	vertical-align: top;
	border-radius: 10px;
}

.floating-box li {
	padding-right: 10px;
}

.floating-box h2 {
	width: 20px;
	padding: 5px;
	padding-left: 10px;
}

.button:hover {
	color: #ffffff;
	background-color: #308945;
}

input[type=submit], input[type=reset] {
	margin: 5px;
}

textarea {
	width: 100%;
	max-width: 95%;
	height: 100px;
	font-family: verdana;
	font-size: 13px;
	max-width: 95%;
}

form {
	margin: 5px;
}

table {
	margin: 10px;
	width: 90%;
}

td {
	padding: 5px;
	text-align: left;
}

.firstColumn {
	width: 25%;
}

.centered-container {
	max-width: 760px;
	margin: auto;
}

.top {
	margin: 0 auto;
	height: 96px;
	background-image: url(image/topNew.jpg);
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	background-repeat: no-repeat;
	background-color: #ffffff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.core {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	LINE-HEIGHT: 25px;
	text-decoration: none;
	background-color: #222B2A;
}

.core a {
	cursor: pointer;
}

.standalone-link {
	margin-top: 2px;
	padding-left: 40px;
	background-image: url(image/arrowright.jpg);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

.content {
	height: 100%;
	min-height: 100px;
	overflow: hidden;
	margin: 0px;
	padding-bottom: 30px;
	text-align: justify;
	color: #B3D7EE;
	text-decoration: none;
	background-color: #222B2A;
}

.content p {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	text-indent: 15px;
}

.content a {
	color: #ffffff;
	text-decoration: underline;
}

.content a:hover {
	text-decoration: underline;
	color: #23DF36;
}

.content h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
	margin-left: 20px;
}

.content img {
	border: 1px solid #ffffff;
}

.picright {
	float: right;
	max-width: 30%;
	margin-top: 8px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 15px;
	clear: both;
}

.albumcover {
	float: right;
	width: 120px;
	height: 120px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 8px;
	clear: both;
}

.horizontal-line {
	width: 100%;
	height: 2px;
	margin: 10px 0px 10px 0px;
	border-bottom: solid 2px #3E729A;
	clear: both;
}

.box, .article h1 {
	margin: 5px;
	padding: 5px 0px 5px 0px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #393d3d;
	overflow: auto;
	color: #B3D7EE;
}

ul, ol, .roundbordered {
	padding: 10px;
	margin: 10px;
	margin-left: 10px;
	list-style-position: inside;
	border: 2px solid #393d3d;
	border-radius: 10px;
	text-align: left;
	clear:both;
}

ol ol, ul ul, ol ul, ul ol {
	border: 0px;
	margin: 0px;
	margin-left: 10px;
	list-style-type: square;
}

.box h1 {
	text-indent: 18px;
	padding-bottom: 5px;
	width: 100%;
	margin: 10px 0px 10px 0px;
	border-bottom: solid 2px #3E729A;
	clear: both;
}

.article h1 {
	vertical-align: baseline;
	padding-top: 8px;
	padding-left: 60px;
	height: 30px;
}

.article h1.cd {
	background-image: url(image/cd.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

.article h1.note {
	background-image: url(image/note.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

.article h1.musician {
	background-image: url(image/musician.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

.article h1.band {
	background-image: url(image/band.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

.article h1.question {
	background-image: url(image/question.png);
	background-repeat: no-repeat;
	background-position: 2% 50%;
}

.bluemenu {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 3px;
	padding: 0px;
	border: 1px solid #B3D7EE;
	margin: 5px;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background-color: #5381a5;
}

.bluemenu div {
	height: 30px;
	padding: 6px;
	margin: 0px;
	text-align: center;
	display: inline;
	color: #ffffff;
}

.bluemenu div:hover, .bluehighlighted {
	background-color: #2c5a7c;
}

.bluemenu a {
	line-height: 30px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #ffffff;
}

.greenmenu {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 40px;
	padding: 0px;
	border: 1px solid #23DF36;
	margin: 5px;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background-color: #308945;
}

.greenmenu div {
	height: 30px;
	padding: 6px;
	margin: 0px;
	text-align: center;
	display: inline;
	color: #ffffff;
}

.greenmenu div:hover {
	background-color: #275539;
}

.greenmenu a {
	line-height: 30px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #ffffff;
}

.bottom {
	height: 20px;
	text-align: center;
	line-height: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	margin-top: 5px;
}

.login-link {
	float: right;
	margin-bottom: 0px;
	margin-right: 20px;
	padding-bottom: 0px;
}

.bottom a {
	color: #ffffff;
	text-decoration: none;
}

.bottom a:hover {
	color: #23DF36;
	text-decoration: underline;
}